.section-img{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    
}

span{
    font-family:'Courier New', Courier, monospace;
}
.card-img{
    position: relative; 
    width: 34vh;
    margin: 44px;
}
img{
    width: 100%;
}

span{
    margin: 15px 0px 0px 0px;
}
input{
    width: 10vh;
    background-color: transparent;
    border: none;
}