.section-img{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
   
}
span{
    font-family:'Courier New', Courier, monospace;
}
.card-img{
    display: flex;
    flex-direction: column;
    position: relative; 
    width: 34vh;
}
img{
    width: 100%;
}
span{
    margin: 15px 0px 0px 0px;
}
input{
    width: 10vh;
    background-color: transparent;
    border: none;
}